* {
  box-sizing: border-box;
}
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 40px;
}

.header_logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.header_menu {
  justify-self: start;
}

.header_link-list_no-bullit {
  font-size: 18px;
  list-style: none;
}

.header_link-list {
  padding-left: 50px;
  font-size: 18px;
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header_link-list-item {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.address {
  margin-right: 53px;
  padding-bottom: 3px;
  max-width: 240px;
  font-size: 18px;
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
}

.address_underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  padding-bottom: 5px;
  margin-right: 50px;
}

.header_address {
  display: block;
}

.main {
  margin-top: 75px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(/Users/krysnovegorurevic/dev/first-project/ono-tebe-nado-fd/images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover_title {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 10;
  text-transform: uppercase;
}

.align_text-left {
  font-size: 100px;
  font-style: bold;
  font-weight: 700;
  letter-spacing: 30px;
  padding-top: 165px;
  padding-left: 50px;
}

.align_text-center {
  font-size: 100px;
  font-style: bold;
  letter-spacing: 30px;
  padding-top: 300px;
  padding-left: 10px;
}

.align_text-right {
  font-size: 100px;
  font-style: bold;
  font-weight: 700;
  letter-spacing: 30px;
  padding-bottom: 180px;
  padding-left: 663px;
}

.description {
  display: grid;
  padding-top: 656px;
  width: 100%;
  height: 100%;
}

.cover__description {
  padding-top: 12px;
  z-index: 30;
}

.cover__description-text {
  grid-column: 1/2;
  font-size: 22px;
  text-transform: uppercase;
  font-style: none;
  font-weight: lighter;
  line-height: 28px;
  padding-left: 50px;
  word-spacing: 18px;
  color: white;
}

.bet-button {
  grid-column: 2/2;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 22px;
  border-color: white;
  color: white;
  line-height: 100%;
  width: 256px;
  height: 51px;
  margin-left: 55px;
  z-index: 30;
}

.lots {
  width: 1052px;
  height: 723px;
  margin-left: 24px;
  margin-top: 180px;
}

.lots_heading {
  padding-left: 40px;
  font-size: 40px;
  font-style: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  padding-top: 27px;

  gap: 25px;
  list-style: none;
}

.card-link {
  height: 100%;
}
.card {
  height: 100%;
  width: 334px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card_type_film {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(/Users/krysnovegorurevic/dev/first-project/ono-tebe-nado-fd/images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_book {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(/Users/krysnovegorurevic/dev/first-project/ono-tebe-nado-fd/images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_picture {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(/Users/krysnovegorurevic/dev/first-project/ono-tebe-nado-fd/images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title {
  padding-top: 51px;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 22px;
  z-index: 10;
  text-transform: uppercase;
  color: white;
}

.card__text-film {
  padding-top: 278px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  line-height: 120%;
  font-size: 20px;
  z-index: 10;
  font-weight: lighter;
  color: white;
}

.card__text-book {
  padding-top: 36px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  line-height: 120%;
  font-size: 20px;
  z-index: 10;
  font-weight: lighter;
  color: white;
}

.card__text-picture {
  padding-top: 132px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  line-height: 120%;
  font-size: 20px;
  z-index: 10;
  font-weight: lighter;
  color: white;
}

.lots__look-more-link {
  font-size: 20px;
  line-height: 100%;
  padding-top: 32px;
  padding-left: 40px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  width: 1052px;
  height: 595px;
  margin-top: 120px;
  margin-left: 24px;
  display: grid;
  grid-template-columns: 334px min-content;
  justify-content: center;
}

.about_logo {
  grid-column: 1/2;
  height: 240px;
  width: 240px;
  margin-left: 33px;
  margin-top: 35px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_logo-image {
  background-image: url("/Users/krysnovegorurevic/dev/first-project/ono-tebe-nado-fd/images/logo-white.svg");
  width: 148px;
  height: 114px;
}

.about_text {
  grid-column: 2/2;
  width: 693px;
  height: 449px;
}

.about__column {
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  font-style: normal;
}

.about__title {
  font-size: 40px;
  padding-top: 136px;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer {
  margin-top: 180px;
  padding-bottom: 82px;
}

.footer_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.address_footer {
    grid-row: 1/2;
  grid-column: 1/3;
  width: 300px;
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
}

.footer_underline {
padding-top: 2px;
     text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  padding-bottom: 5px;
  margin-right: 50px;
}

.footer_underline-item {

     text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  padding-bottom: 5px;
  margin-right: 50px;
}

.footer_menu {
    grid-row: 1/2;
  grid-column: 2/3;
 
}
.footer__menu-list {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  list-style: none;
  text-align: center;
}

.footer__menu-link_active {
  font-size: 18px;
}

.footer__menu-link {
  font-size: 18px;
}

.footer__social-link {
    grid-row: 1/2;
  grid-column: 3/3;
  padding-left: 75px;
  display: flex;
  gap: 48px;
}

.footer__social-icon-yt {
  width: 48px;
  height: 48px;
  background-image: url(/Users/krysnovegorurevic/dev/first-project/ono-tebe-nado-fd/images/yt.svg);
}

.footer__social-icon-vk {
  width: 48px;
  height: 48px;
  background-image: url(/Users/krysnovegorurevic/dev/first-project/ono-tebe-nado-fd/images/vk.svg);
}

.footer__social-icon-pin {
  width: 48px;
  height: 48px;
  background-image: url(/Users/krysnovegorurevic/dev/first-project/ono-tebe-nado-fd/images/pinterest.svg);
}
