.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.header_logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.header_menu {
  justify-self: start;
}

.header_link-list_no-bullit {
  list-style: none;
}

.header_link-list_active {
  font-size: 18px;
  text-decoration: none;
}

.header_link-list {
  padding-left: 50px;
  font-size: 18px;
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header_link-list-item {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.address {
  margin-right: 50px;
  padding-bottom: 3px;
  max-width: 240px;
  font-size: 18px;
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
}

.address_underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  padding-bottom: 5px;
  margin-right: 50px;
}

.address__text {
  display: block;
}

.main {
  margin-top: 75px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover_title {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 100px;
  letter-spacing: 30px;
  color: white;
  text-transform: uppercase;
}

.align_text-left {
  padding-top: 165px;
  padding-left: 50px;
  z-index: 10;
}

.align_text-center {
  padding-top: 300px;
  padding-left: 10px;
  z-index: 10;
}

.align_text-right {
  padding-top: 20px;
  padding-left: 663px;
  z-index: 10;
}

.description {
  padding-top: 106px;
  display: grid;
  z-index: 10;
}

.cover__description {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 10;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  font-style: none;
  line-height: 28px;
  padding-left: 50px;
  word-spacing: 18px;
  color: white;
}

.bet-button {
  grid-column: 2/2;
  grid-row: 1/2;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 22px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  color: white;
  line-height: 100%;
  width: 256px;
  height: 51px;
  margin-left: 55px;
  z-index: 10;
}

.lots {
  width: 1052px;
  margin-left: 24px;
  margin-top: 180px;
}

.lots_heading {
  padding-left: 40px;
  font-size: 40px;
  font-style: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 27px;
  gap: 25px;
  list-style: none;
}

.card {
  height: 100%;
  width: 334px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.lots_link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  padding-top: 51px;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 22px;
  z-index: 10;
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.card__text {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  line-height: 120%;
  font-size: 20px;
  z-index: 20;
  color: white;
}

.lots__look-more-link {
  font-size: 20px;
  line-height: 100%;
  padding-top: 32px;
  padding-left: 40px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  width: 1052px;
  margin-top: 120px;
  margin-left: 24px;
  display: grid;
  grid-template-columns: 334px min-content;
  justify-content: center;
}

.about_logo {
  grid-column: 1/2;
  height: 240px;
  width: 240px;
  margin-left: 33px;
  margin-top: 35px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_logo-image {
  background-image: url(../images/logo-white.svg);
  width: 148px;
  height: 114px;
}

.about_text {
  grid-column: 2/2;
  width: 693px;
}

.about__column {
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  font-style: normal;
}

.about__title {
  font-size: 40px;
  padding-top: 136px;
  margin-left: 10px;
  text-transform: uppercase;
}

.footer {
  margin-top: 180px;
  padding-bottom: 82px;
}

.footer_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.footer_menu {
  grid-row: 1/2;
  grid-column: 2/3;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
  outline: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__social-link {
  grid-row: 1/2;
  grid-column: 3/3;
  padding-left: 75px;
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
