*{
    box-sizing: border-box;
}
.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
    
}

.header_logo-image {

    display: block;
    width: 148px;
    height: 105px;
    
}
.header_menu{

    justify-self: start;
}

.header_link-list_no-bullit {

    list-style: none;
}

.header_link-list {

    display: flex;
    gap: 32px;
    list-style: circle;
}
 
.address{
    max-width: 240px;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
}

.header_address {

    display: block;
}

.cover {

    position: relative;
    min-height: 757px;
    background-image: url(/Users/a1111/dev/first-project/ono-tebe-nado-fd/images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}


.overlay {

    position:absolute;
    width: 100%;
    height: 100%;
     top:0;
    left:0;
    z-index:1;
    background-color: rgb(0,0,0,0.6);
}

.cover_title{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    width: 100%;
    height: 100%;
    color: white;
    z-index: 10;
    text-transform: uppercase;
}

.align_text-left{

    font-size: 100px;
    font-style: bold;
    font-weight: 700;
    grid-column: 1/3;
    grid-row: 1/3;
    letter-spacing: 30px;
    padding-top: 165px;
    padding-left: 50px;
}

.align_text-center{

    font-size: 100px;
    font-style: bold;
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    letter-spacing: 30px;
    
}

.align_text-right{

    font-size: 100px;
    font-style: bold;
    font-weight: 700;
    grid-column: 3/3;
    grid-row: 3/3;
    letter-spacing: 30px;
}

.description{

    display: grid;
    padding-top: 668px;     
    width: 100%;
    height: 100%;
    
}

.cover__description{

    z-index: 30;
}

.cover__description-text{
    grid-column: 1/2;
    font-size: 22px;
    text-transform: uppercase;
    font-style: none;
    font-weight: lighter;
    line-height: 28px;
    padding-left: 50px;
    word-spacing: 20px;
    color: white;
    
    
}

.bet-button{

    grid-column: 2/2;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 22px;
    border-color: white;
    color: white;
    line-height: 100%;
    width: 256px;
    height: 51px;
    z-index: 30;

}

.lots{

    padding-top: 180px;
}

.lots_heading{

    font-size: 40px;
    font-style: normal;
    text-transform: uppercase;
}

.lots__card-list{
    display: flex;
    padding-top: 27px;
    gap: 25px;
    list-style: none;
}

.card-link{

    height: 100%;
}
.card{

    height: 100%;

}

.card_type_film{

    width: 334px;
    min-height: 596px;
    background-image: url(/Users/a1111/dev/first-project/ono-tebe-nado-fd/images/card-lot-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.card_type_book{

    width: 334px;
    min-height: 596px;
    background-image: url(/Users/a1111/dev/first-project/ono-tebe-nado-fd/images/card-lot-02.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;

}

.card_type_picture{

    width: 334px;
    min-height: 596px;
    background-image: url(/Users/a1111/dev/first-project/ono-tebe-nado-fd/images/card-lot-03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card__title{

    padding-top: 48px;
    padding-left: 40px;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}

.card__text-film{

    padding: 404px 40px 48px 40px;
    line-height: 120%;
    font-size: 20px;
    color: white;
}

.card__text-book{
   
    padding-top: 188px;
    font-weight: 400;
    line-height: 120%;
    font-size: 20px;
    color: white;
}

.card__text-picture{
    
    padding-top: 284px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 48px;
    line-height: 120%;
    font-size: 20px;
    color: white;
}

.lots__look-more-link{

    font-size: 20px;
    line-height: 100%;
    padding-top: 30px;
    padding-left: 40px;
}